@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@layer base {
    :root {
        background-color: #212121;
        color: white;
    }
}

.bg-dark {
    background-color: #212121;
}

.bg-lighter-dark {
    background-color: #262626;
}

.bg-yellow-accent {
    background-color: #ffb800;
}

.typewriter-text {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

@media (max-width: 768px) {
    .typewriter-text {
        font-size: 20px; /* Font size for smaller screens */
    }
}