@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(../fonts/Inter/Inter.ttf) format('.ttf')
}

body {
    font-family: 'Inter', sans-serif;
    
}

p {
    
}

@layer base {
    :root {
        background-size: cover;
        background-color: white;
        color: black;
    }
}
