@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        background-color: #212121;
        color: white;
    }
}

.bg-dark {
    background-color: #212121;
}

.bg-lighter-dark {
    background-color: #262626;
}
